<style>
  h1{
    margin-top:15px;
  }

 span{
    margin:4px;
  }
</style>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

  		 <h1>Editing Book</h1>
  		 <%= form_with model:@book, local:true do |f| %>
  		  <form action="/books/8885" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="T0/XB3r8Eb16VcY2tEA/gw6KgmASOtsVD/WZCgsX0DO/KD1l2HrPxf8woEhc0N9arLguPWTVUT4ppTizj5DeKg==">
           <div class="form-group">
              <label for="book_title">Title</label>
              <%= f.text_field :title, class:"form-control book_title" %>
          </div>
           <div class="form-group">
              <label for="book_opinion">Opinion</label>
               <%= f.text_area :body, class:"form-control book_body" %>
          </div>
          <div class="form-group">
             <%= f.submit "Update Book", class:"btn btn-success" %>
         </div>
         <% end %>
        </form>
  		  <span><%=link_to "Show", book_path %></span>|<span><%=link_to"Back", books_path %></span>
      </div>
   </div>
 </div>